
#imgContainerGalerie img{
    width : 70%;
    height : 675px;
    border : 10px solid grey;
    border-radius: 15px;

}

#moins1Button{
    float : left;
    margin-top : -350px;
    margin-left : 220px;
    height : 50px;
    width : 50px;
}

#plus1Button {
    float : right;
    margin-top : -350px;
    margin-right : 220px;
    height : 50px;
    width : 50px;

}